body {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% auto;
  
}

.footer{
  text-align: center;
  font-size: 20px;
  margin: auto;
}

.drum-mach {
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  margin: auto;
  
  width: 450px;

  
}

.title {
  background-color: orange;
  padding: 10px;
  font-weight: bold;
  
}

.label {
  font-size: 20px;
}


.pad-display {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 30px auto;
    width: 360px;
    height: 300px;
    border: 5px solid rgb(255, 187, 0);
    border-radius: 10px;
    

    

    .drum-pad {
        border: 1px solid rgb(255, 187, 0);
        height: 45px;
        width: 70px;
        margin: auto;
        display: inline-block;
        


        
    }

    .btn-active {
        background-color: red;
    }

}
.drum-control-volume {

  width: 400px;
  margin: auto;
  
  .label {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
  }

  input[type=range] {
    height: 27px;
    -webkit-appearance: none;
    margin: 10px auto;
    width: 90%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 50%;
    height: 11px;
    cursor: pointer;
    
    box-shadow: 1px 1px 1px #50555C;
    background: rgb(30,30,30);
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 3px solid rgb(100,100,100);
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background: rgb(255, 187, 0);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #50555C;
  }
  input[type=range]::-moz-range-track {
    width: 90%;
    height: 11px;
    cursor: pointer;
    
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 3px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background: rgb(255, 187, 0);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 90%;
    height: 11px;
    cursor: pointer;
    
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgb(50,50,50);
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 1px 1px 1px rgb(50,50,50);
  }
  input[type=range]::-ms-fill-upper {
    background: rgb(50,50,50);
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 1px 1px 1px rgb(50,50,50);
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 1px #000000;
    border: 3px solid rgb(100,100,100);
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background: rgb(255, 187, 0);
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #50555C;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #50555C;
  }

}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(80,80,80);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 187, 0);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

